@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
}

.light {
    @apply bg-white bg-gray-950;

    @media (prefers-color-scheme: light) {
        color-scheme: light;
    }

    .color-blue {
        color: blue;
    }
    .color-blue:hover {
        border-color: blue;
    }
}

.dark {
    @apply bg-white dark:bg-gray-950;
    
    @media (prefers-color-scheme: dark) {
        color-scheme: dark;
    }
    
    color: white;

    .color-blue {
        color: cyan;
    }
    .color-blue:hover {
        border-color: cyan;
    }
}

.page {
    width: 100vw;
    height: 100vh;
    padding: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.footer {
    width: 100%;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}

.div-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-input {
    width: 300px;
    border-width: 1px;
    border-radius: 4px;
}

.color-green {
    color: green;
}
.color-green:hover {
    border-color: green;
}

.color-gray {
    color: gray;
}
.color-gray:hover {
    border-color: gray;
}

.color-red {
    color: red;
}
.color-red:hover {
    border-color: red;
}

.my-button {
    cursor: pointer;
    padding: 5px 15px;
    border: 1px solid transparent;
}
.my-button:hover {
    cursor: pointer;
    font-weight: bold;
    padding: 5px 13px;
    border-radius: 4px;
}

.task-item {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.themeIcon {
    cursor: pointer;
    margin-left: 10px;
}

main {
    margin: 40px;
}

.githubButton {
    cursor: pointer;
    border-width: 1px;
    border-radius: 4px;
    padding: 5px 16px 5px 16px;
    background-color: #009933;
}
